*{
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body{
    margin: 0px;
    padding: 0px;
}

.video-player-holder{
    max-width: 1300PX;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: all;
}
.video-player-holder.full-screen{
    max-width: 100%;
}
.video-player-holder.remove-all-control{
    pointer-events: none;
}
.video-player-holder video{
    width: 100%;
}
.video-player-holder.full-screen video{
    width: 100%;
    height: 100%;
}
.video-player-holder .video{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.video-player-holder .video .primary-control{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.video-player-holder .video:hover .primary-control{
    opacity: 1;
}

.play-pause-next-forward-control{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid white;
    padding: 10px 15px;
    background-color: royalblue;
    color: white;;
    outline: 0;
    opacity: .6;
}

.btn:focus,
.btn:hover{
    opacity: 1;
}

.btn:active{
    background-color: white;
    color: royalblue;
}
.btn.btn-control{
    margin-right: 10px;
}
.btn.btn-control.btn-play{
    padding: 25px 21px;
    border-radius: 50%;
}
.btn.btn-control:last-child{
    margin-right: 0px;
}
.captions{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 300px;
    transform: translate(-50%, 0);
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid white;
    display: none;
}
.time-controller-and-other-option{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
    width: 100%;
    background-color: black;
}

.time-contorl{
    width: 80%;
    width: calc(100% - 150px);
    float: left;
    background-color: black;
    padding: 5px 10px;
    color: white;
}
.time-contorl .total-time,
.time-contorl .current-time{
    width: 120px;
    float: left;
    font-size: 2rem;
    color: yellow;
}
.time-contorl .slider{
    width: calc(100% - 240px);
    float: left;
}
.time-contorl .slider input {
    width: 100%;
}
.time-contorl .total-time{
    text-align: right;
}

.captions-full-screen{
    width: 20%;
    width: 150px;
    float: right;
    text-align: right;
    padding-right: 10px;
}
.btn.btn-option{}

table{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
}

table td{
    padding: 10px 15px;
    border-top: 2px solid black;
    border-left: 2px solid black;;
}
table td:last-child {
    border-right: 2px solid black;
}
table tr:last-child td {
    border-bottom: 2px solid black;
}